[submodule "libcamlite"]
	path = libcamlite
	url = https://github.com/carsonfenimore/libcamlite.git
[submodule "submodules/libcamlite"]
	path = submodules/libcamlite
	url = https://github.com/carsonfenimore/libcamlite.git
